<div class="modal-header" style="background:#e05543;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <h4 style="font-size: 18px; color: #fff;" class="modal-title" id="LoginModalTitle">Forgot Password?</h4>
</div>
<div class="modal-body">
    <form name="forgotPassword" novalidate="novalidate">
        <div class="form-group has-feedback" data-show-errors>
            <input type="text"
                   name="email"
                   class="form-control"
                   id="email"
                   required
                   data-ng-minlength="4"
                   data-ng-model="email"
                   placeholder="E-Mail">
            <span class="glyphicon glyphicon-envelope form-control-feedback" aria-hidden="true"></span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" data-ng-disabled="forgotPassword.$invalid" class="greeny full-w" data-ng-click="send()">
        Send
    </button>
</div>