<div id="login-wrap">
    <div class="container">
        <div class="row">

            <div id="form-wrap" class="col-md-12 center-block">
                <p class="text-center">Reset password</p>
                <hr>
                <form name="resetPasswordForm" novalidate="novalidate" data-ng-init="setFromScope(this)">
                    <div class="form-group has-feedback" data-show-errors>
                        <!--<label for="username">Username</label>-->
                        <input type="text"
                               name="username"
                               class="form-control"
                               id="username"
                               required
                               data-ng-minlength="4"
                               data-ng-model="auth.email"
                               placeholder="E-Mail">
                        <span class="glyphicon glyphicon-envelope form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <!--<label for="password">Password</label>-->
                        <input type="password"
                               name="password"
                               id="password"
                               class="form-control"
                               required
                               data-ng-minlength="4"
                               data-ng-model="auth.password"
                               placeholder="Password">
                        <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback" data-show-errors>
                        <!--<label for="password">Password</label>-->
                        <input type="password"
                               name="password_confirmation"
                               id="password_confirmation"
                               class="form-control"
                               required
                               data-compare-to="auth.password"
                               data-ng-minlength="4"
                               data-ng-model="auth.password_confirmation"
                               placeholder="Password Confirmation">
                        <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
                    </div>
                </form>
                <div id="form-login-links">
                    <button class="btn btn-warning btn-block"
                            data-ng-click="send()"
                            data-ng-disabled="resetPasswordForm.$invalid">Reset!
                    </button>
                    <!--<a id="form-login-submit" class="button bg-orange" href="#">Reset!</a>-->

                    <div class="clear"></div>
                </div>
            </div>
        </div>

    </div>

</div>